/* General styling */
* {
    box-sizing: border-box;
    font: sans-serif;
}


/* Styling for the header */
body {
    background-color: #EBF3E1;
}

header {
    background-color: #7D9C8A;
}

#brand {
    font-size: 2em;
    font-weight: bold;
    text-decoration: none;
    color: #FFFFFF;
}

#brand:hover {
    text-decoration: none;
    color: #FFFFFF;
}

#group-number-display {
    color: #FFFFFF;
    font-size: 1.1em;
}

#group-number-copyicon {
    color: #FFFFFF;
    font-size: 1.1em;
}

#new-group-button {
    color: #FFFFFF;
    font-size: 1.1em;
    text-decoration: none;
}

#new-group-button:hover {
    text-decoration: none;
    color: #FFFFFF;
}


/* Styling for the main content */
#main-body-container {
    margin-top: 80px;
}

#main-body-container > .row {
    height: calc(100vh - 80px);
}

#button-container {
    background-color: #D8E6C3;
}

.btn-custom {
    background-color: #8BAE7D;
    color: #FFFFFF;
}

#payment-container {
    overflow-x: hidden;
    overflow-y: scroll;
    height: calc(100vh - 150px);
}

#payment-container hr {
    margin-top: 0;
    margin-bottom: 0;
}

#payment-container p {
    margin-bottom: 0;
}

#payment-container .date-display {
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 0;
}

#payment-container .desc-display {
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 0;
}

#payment-container .payer-display {
    text-align: center;
    font-size: 0.9em;
    margin-bottom: 0;
}

#payment-container .amt-display {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 0;
}

#payment-container .options-display {
    text-align: center;
}







.form-container {
    display: none; /* Hide the form by default */
    position: fixed;
    z-index: 2000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
}
  
/* Styles for the form */
.form-popup {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
    border-radius: 15px;
}
  
/* Close button for the form */
.form-container .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    line-height: 20px;
}

/* Styling for the form inputs and button */
.form-container input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.form-container button[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}

.form-container .cancel-button {
    background-color: #e81f17;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}

#choose-involved input {
    margin-right: 5px;
}

#choose-involved legend {
    font-size: 15px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 0;
}

#calculate-header {
    margin-bottom: 15px;
}

#calculate-body p {
    margin-bottom: 5px;
}

.custom-checkbox {
    opacity: 1;
    pointer-events: none;
}

.highlight {
    background-color: #4CAF50;
}