body {
    background-color: #061173;
}

.form-container {
    display: none; /* Hide the form by default */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
}
  
/* Styles for the form */
.form-popup {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
    border-radius: 15px;
}
  
/* Close button for the form */
.form-container .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    line-height: 20px;
}

/* Styling for the form inputs and button */
.form-container input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.form-container button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}

#choose-involved input {
    margin-right: 5px;
}

#choose-involved legend {
    font-size: 15px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 0;
}

#calculate-header {
    margin-bottom: 15px;
}

#calculate-body p {
    margin-bottom: 5px;
}

.custom-checkbox {
    opacity: 1;
    pointer-events: none;
}

.highlight {
    background-color: #4CAF50;
}